body {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh; /* высота на весь экран */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  background-image: url("/public/resources/bg-cafe-lg.jpg");
  background-size: contain; /* изображение влезет целиком */
  background-repeat: no-repeat; 
}
