body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  background-color: #111315;
  background-image: url("/public/resources/bg-cafe-lg.jpg");
  background-size: cover;

  background-repeat: no-repeat;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  width: 900px;
  height: 1000px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.coffee-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}
.buttons button {
  background-color: #6f757c;
  padding: 10px 15px;
  color: #fef7ee;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s all;
  border: 0;
}
button:hover {
  background-color: #4d5562;
}
h2 {
  font-size: 1rem;
}
.rating-info {
  display: flex;

  align-items: center;
}
.card {
  width: 100%; /* Растягиваем карточку на всю ширину колонки */
  height: 100%; /* По желанию — растягиваем по высоте */
  display: flex; /* Для гибкого расположения контента */
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  gap: 10px;
}
.card img {
  border-radius: 20px;
}
.tag {
  position: absolute;
  background-color: #f6c768;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 20px;
}
.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.card-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.price {
  background-color: #bee3cc;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.75rem;
}
.star-icon {
  width: 25px;
  height: 25px;
  justify-content: center;
}

.status {
  color: #ed735d;
  font-weight: 800;
}
.rating-text {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.collection-container p {
  text-align: center;
  font-size: 1rem;
  margin: 0 auto;
  line-height: 1.6;
  max-width: 500px;
}
.collection-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
